body
{
	line-height: 1.2;
}

/* images */

div.floatright
{
	float: right;
	clear: right;
	position: relative;
	margin: 0.5em 0 0.8em 1.4em;
}
div.floatleft
{
	float: left;
	clear: left;
	position: relative;
	margin: 0.5em 1.4em 0.8em 0;
}
.center
{
	width: 100%;
	text-align: center;
}
.center *
{
	margin-left: auto;
	margin-right: auto;
}
.thumbcaption
{
	text-align: left;
	font-size: 95%;
}
div.tright
{
	float: right;
	clear: right;
	margin: 0.5em 0 0.8em 1.4em;
}
div.tleft
{
	float: left;
	clear: left;
	margin: 0.5em 1.4em 0.8em 0;
}
.small
{
	font-size: 94%;
}

/* This stylesheet affects the style used for ePub export via wsexport. */

.mw-parser-output
{
	text-align: justify; /* most text is justified */
}

/*
 * Used for centered images
 *
 * Copies site-global CSS in load.php
 */

.center
{
	width: 100%;
	text-align: center;
}
.center *
{
	margin-left: auto;
	margin-right: auto;
}

/*
 * Force images to fit in their containers.
 * Specifically, this is to avoid them extending off the page
 */
.content a > img,
.content noscript > img
{
  max-width:100% !important;
  height:auto !important
}

/*
 * Parsoid vertical alignment classes
 */
.mw-valign-middle
{
  vertical-align: middle;
}
.mw-valign-baseline
{
  vertical-align: baseline;
}
.mw-valign-sub
{
  vertical-align: sub;
}
.mw-valign-super
{
  vertical-align: super;
}
.mw-valign-top
{
  vertical-align: top;
}
.mw-valign-text-top
{
  vertical-align: text-top;
}
.mw-valign-bottom
{
  vertical-align: bottom;
}
.mw-valign-text-bottom
{
  vertical-align: text-bottom;
}

/*
 * Sidenotes
 */
.sidenote-right,
.sidenote-left
{
  margin:0.5em;
  padding:3px;
  max-width:9em;
  text-indent:0;
  text-align:left;
}

.sidenote-right
{
   float:right;
}

.sidenote-left{
  float:left;
}

/*
 * Use the same formatting choices as on-wiki for consistency
 */
dt
{
  font-weight: bold;
  margin-bottom: 0.1em;
}

/**
 * Remove this forced background color as the dots are not exported
 */
.toc-line-entry-text
{
	background: transparent !important;
}

/* Prevent huge DHR's which usually result in content disappearing over page
 * breaks */
.__dhr
{
	line-height: 100% !important;
}

/* Make sure tables fit on the page (even if a manual size if set) */
table
{
	max-width: 100%;
}

/*
 * Centre table header like on-wiki 
 */
table caption
{
	text-align: center;
}

/*
 * Disable "helpful" auto-indents for poems in some e-readers
 * (note: this means using <poem> is better than <br/>, which has no semantic
 * content and can't be used to target this styling)
 */
.poem, .poem p
{
	text-indent: 0;
}

/*
 * Disable the indented-page pagenumber margin styles
 */
.indented-page, .prose
{
	margin: inherit;
	padding: inherit;
}

/* This generally doesn't export well, so fall back on the inner em-dashes
 * revisit this if it can be improved in readers */
.__bar_inner
{
	color: inherit !important;
}
.__bar
{
	text-decoration: inherit !important;
}

/* normally this would not be included anyway as exports don't come from the page NS,
 * but sometimes it's useful to do so when debugging EPUBs */
.prp-page-qualityheader
{
	display: none;
}

.P7
{
   text-align:center;
   margin-top:2em;
   margin-bottom:1em;
   font-size:200%;
   text-indent:0px;
}
.P9a
{
   text-align:center;
   margin-top:1em;
   margin-bottom:4em;
   font-size:140%;
   text-indent:0px;
}
.P0c
{
   text-align:center;
   margin-top:4em;
   margin-bottom:0px;
   font-size:70%;
   text-indent:0px;
}
.P8b
{
   text-align:center;
   margin-top:0px;
   margin-bottom:14px;
   font-size:140%;
   text-indent:0px;
}
.P8b1
{
   text-align:center;
   margin-top:0px;
   margin-bottom:14px;
   font-size:100%;
   text-indent:0px;
}
.tiInherit
{
display:block;
margin: auto;
text-align:center;
}
.__gap
{
display:inline-block;
width:4em;
}
div.ch
{
margin-top: 1em;
text-align:center;
margin-bottom: 2em;
}
div.ch1
{
margin-top: 3em;
text-align:center;
margin-bottom: 2em;
}
.chno
{
font-size: 150%;
}
.chtt
{
display:block;
margin-top: 2.2em;
font-size: 83%;
}
.chtt1
{
display:block;
margin-top:2em;
}
.P0c1
{
   text-align:center;
   margin-top:4em;
   margin-bottom:2em;
   font-size:70%;
   text-indent:0px;
}
.big
{
font-size: 120%;
font-variant:small-caps;
}
.P0c2
{
   text-align:center;
   margin-top:1em;
   margin-bottom:1em;
}
.__center_block
{
display:table;
position:relative;
margin:0 auto;
width:auto;
max-width:100%;
}
.mw-poem-indented
{
display: inline-block;
margin-inline-start: 1em;
}
.mw-poem-indented1
{
display: inline-block;
margin-inline-start: 2em;
}
.mw-poem-indented2
{
display: inline-block;
margin-inline-start: 3em;
}
.poemi
{
font-style: italic;
}
.__gap1
{
display:inline-block;
width:2em;
}
.poemx
{
   text-align:left;
   margin-top:4em;
   margin-bottom:0px;
   margin-left:4em;
   text-indent:0px;
}
.poemx1
{
   text-align:left;
   margin-top:0em;
   margin-bottom:0px;
   margin-left:3.5em;
   text-indent:0px;
}
.poemx2
{
   text-align:left;
   margin-top:0em;
   margin-bottom:0px;
   margin-left:2.5em;
   text-indent:0px;
}
p
{
text-align: justify;
}
.poemxt
{
   text-align:left;
   margin-top:3em;
   margin-bottom:0px;
   margin-left:4em;
   text-indent:0px;
}
.poemr
{
display:inline-block;
font-size:95%;
line-height:1.50em;
}
.poemr1
{
display:inline-block;font-size:92%;line-height:1.50em;
}
.poemr2
{
display:inline-block;font-size:89%;line-height:1.50em;
}
.poemr3
{
display:inline-block;font-size:86%;line-height:1.50em;
}
.poemr4
{
display:inline-block;font-size:83%;line-height:1.50em;
}
.poemr5
{
display:inline-block;font-size:80%;line-height:1.50em;
}
.poemr6
{
display:inline-block;font-size:77%;line-height:1.50em;
}
.poemr7
{
display:inline-block;font-size:74%;line-height:1.50em;
}
.poemr8
{
display:inline-block;font-size:71%;line-height:1.50em;
}
.poemr9
{
display:inline-block;font-size:68%;line-height:1.50em;
}
.center_block1
{
display:table; position:relative; margin:0 auto; width:auto;
}
.wst-fqm
{
float:left; text-align:right; margin-left:-3em;margin-left:-moz-calc(0em - 3em); margin-left:calc(0em - 3em); width:3em;
}
.wst-rule
{
width: 6em;
}
.end
{
text-align: center;
}
.edition
{
   font-size:220%;
   margin-top:1em;
   margin-bottom:1em;
   text-align:left;
   text-indent:0px;
}
.bull
{
 list-style-type: disc;
 margin: 0em 0em 0em -0.2em;
}
.booktitle
{
   font-size:190%;
   margin-top:1.5em;
   margin-bottom:0em;
   text-align:center;
   text-indent:0px;
   font-weight:bold;
}
.book
{
   font-size:130%;
   margin-top:1.5em;
   margin-bottom:0em;
   text-align:center;
   text-indent:0px;
}
.book1
{
   font-size:120%;
   margin-top:1.5em;
   margin-bottom:1.5em;
   text-align:center;
   text-indent:0px;
}
.book2
{
   font-size:90%;
   margin-top:0em;
   margin-bottom:0.5em;
   text-align:center;
   text-indent:0px;
}
.__center_block1
{
display:table;
position:relative;
margin:0 auto;
width:auto;
}
.licFrame-centerfield
{

margin-top:4em;
border:4px solid #8888aa;
}
.copy
{
   margin-top:1em;
   margin-bottom:1em;
}
.P16c
{
   font-size:210%;
   text-align:center;
   margin-top:2em;
   margin-bottom:2em;
   text-indent:0px;
}
.chap
{
   font-size:100%;
   margin-top:1em;
   margin-bottom:0em;
}
.table
{
   margin: 0em 0em 0em 1em;
}
.vtop
{
   vertical-align: top;
   padding: 0.2em;
}
.padd
{
   margin-left:-2.5em;
   float:left;
}
.chapno
{
   text-align:left;
   margin-indent:0em;
   margin-left:2.5em;
   margin-top:0em;
   margin-bottom:0em;
   font-size:100%;
}
.chapno1
{
   text-align:left;
   font-size:100%;
   margin-left:0.2em;
   margin-top:0em;
   margin-bottom:0em;
}
ol.list
{
   margin:0em 0em 0em 0em;
   list-style-type:none;
}
.coverfp
{
        height: 98%;
        margin: 0em;
        text-align: center;
}
.coverfp:only-of-type
{
        height: 98vh;
        margin: 0em;
        text-align: center;
}
.imagefc
{
        height: 100%;
        margin: 0em;
}

.block
{
 display: block;
}


hr.common {
   background: url('../images/common.jpg') no-repeat center;
   border: none;
   height:40px;
   margin: 1em 0em 1em 0em;
   text-align:center;
}
ol.none
{
list-style-type:none;
margin:0em 0em 0em 1.25em;
padding:0;
}